<%= if not Enum.empty?(@data) do %>
  <div>
  <%= for number <- @data do %>
    Here is some data: <%= number %>
  <% end %>
  </div>
<% else %>
  <div>
    <%= if @loading do %>
      <div id="this-is-a-problem">
        <p>NOW</p>
      </div>
      <div id="this-is-a-problem">
        <p>LOADING</p>
      </div>
    <% end %>
  </div>
<% end %>